<mat-nav-list>
    <div class="logo py-4">
        <img src="../assets/logo.jpg" alt="" width="40px" height="40px"> 

    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>

    <a href="" mat-list routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon >home</mat-icon>home
    </a>
    <a href="" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a href="" mat-list-item><mat-icon>edit</mat-icon>Link 3</a>
    <a href="" mat-list-item><mat-icon>edit</mat-icon>Link 4</a>
    <a href="" mat-list-item><mat-icon>edit</mat-icon>Link 5</a>
    <a href="" mat-list-item><mat-icon>edit</mat-icon>Link 6</a>

</mat-nav-list>
